<section class='mt-3'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-3'>
                <div class='card shadow-lg'>
                    <img [src]='parisImg' class='img-fluid' alt='paris-image'>
                    <div class='card-body'>
                        <p class='h3'>{{paris[0]}}</p>
                        <p>{{paris[1]}}</p>
                        <button type='button' class='btn btn-primary btn-small'>Book now</button>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='card shadow-lg'>
                    <img [src]='londonImg' class='img-fluid' alt='london-image'>
                    <div class='card-body'>
                        <p class='h3'>{{london[0]}}</p>
                        <p>{{london[1]}}</p>
                        <button type='button' class='btn btn-primary btn-small'>Book now</button>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='card shadow-lg'>
                    <img [src]='italyImg' class='img-fluid' alt='italy-image'>
                    <div class='card-body'>
                        <p class='h3'>{{italy[0]}}</p>
                        <p>{{italy[1]}}</p>
                        <button type='button' class='btn btn-primary btn-small'>Book now</button>
                    </div>
                </div>
            </div>
            <div class='col-md-3'>
                <div class='card shadow-lg'>
                    <img [src]='newyorkImg' class='img-fluid' alt='newyork-image'>
                    <div class='card-body'>
                        <p class='h3'>{{newyork[0]}}</p>
                        <p>{{newyork[1]}}</p>
                        <button type='button' class='btn btn-primary btn-small'>Book now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>